[workspace]
resolver = "3"

members = [
	"helium", 
	"examples", 
	"helium_macros", 
	"helium_core", 
	"crystal",
	"helium_renderer", 
]

[workspace.dependencies]
thiserror = "2.0.9"
tokio = { version = "1.40.0", features = ["full"] }
image = "0.25.2"
winit = {version = "0.29",features = ["rwh_05"]}
wgpu = "24.0.1"
bytemuck = { version = "1.16", features = [ "derive" ] }
env_logger = "0.11.5"
log = "0.4.22"
async-std = {version = "1.13.0",features = ["attributes"]}
pixels = "0.15.0"
rand = "0.9.1"
tiny-skia = "0.11.4"

