[workspace]
resolver = "2"

members = [
	"helium", 
	"examples", 
	"helium_macros", 
	"helium_core", 
	"crystal", "helium_derive", "helium_renderer",
]

[workspace.dependencies]
thiserror = "2.0.9"
tokio = { version = "1.40.0", features = ["full"] }
image = "0.25.2"
text-to-png = "0.2.0"
winit = {version = "0.29",features = ["rwh_05"]}
wgpu = "22.1.0"
bytemuck = { version = "1.16", features = [ "derive" ] }
env_logger = "0.11.5"
log = "0.4.22"
async-std = {version = "1.13.0",features = ["attributes"]}


