[package]
name = "file-explorer"
version = "0.1.0"
authors.workspace = true
license.workspace = true
edition.workspace = true
publish = false

[dependencies]
agape = { path = "../../agape" }
agape_renderer.workspace = true

[lints]
workspace = true
