name: Rust
on:
  push:
    branches: [ "main"]
  pull_request:
    branches: [ "main" ]
concurrency:
  group: ${{github.ref}}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting
        run: cargo fmt --check
  test:
    strategy:
      matrix:
        os: ['ubuntu-latest','macos-latest','windows-latest']
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        key: ${{runner.os}}-cargo-${{hashFiles('Cargo.lock')}}
        path: |
          target/
          ~/.cargo
        restore-keys: ${{runner.os}}-cargo-
    - uses: taiki-e/install-action@cargo-nextest
    - name: Run tests
      run: cargo nextest run --locked
  doc-tests:
    strategy:
      matrix:
        os: ['ubuntu-latest','macos-latest','windows-latest']
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          key: ${{runner.os}}-cargo-${{hashFiles('Cargo.lock')}}
          path: |
            ~/.cargo
            target/
          restore-keys: ${{runner.os}}-cargo-
      - name: Run doc tests
        run: cargo test --doc --locked